<%- include('includes/head') %>

    <center>
        <br><br><br><br><br>
        <h1 style="color: red; font-weight: bold; font-size: 4em;">Error 404</h1>
    </center>

<%- include('includes/footer') %>